@font-face {
  font-family: "Fira Sans Regular";
  src: url("../fonts/FiraSans-Regular.otf");
}

html,
body {
  font-family: "Fira Sans Regular";
}

.fira {
  font-family: "Fira Sans Regular";
}

.ticker {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 30px;
  position: absolute;
  right: 0px;
  z-index: 20;
}

.news {
  height: 30px;
  width: 100vw;
  background: rgba(252, 227, 33, 0.7);
}
.news-title {
  min-width: 12vw;
  text-align: center;
  background: #c81c1c;
  position: absolute;
  z-index: 10;
  height: 30px;
}

.news-title:after {
  position: absolute;
  content: "";
  right: -18px;
  border-left: 8px solid #c81c1c;
  border-top: 15px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid transparent;
  top: 0;
}

.news-title h6 {
  font-size: 1rem;
  line-height: 30px;
  color: #fff;
}

.news marquee {
  font-size: 1rem;
  line-height: 30px;
}

.news-content p {
  display: inline;
  color: #000;
}

body {
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
}

.carousel-caption {
  background-color: rgba(125, 126, 125, 0.681);
}

.bg-blur {
  background: rgb(3, 100, 173);
  background: linear-gradient(
    180deg,
    rgb(3, 100, 173) 35%,
    rgba(4, 103, 179, 0.8) 80%,
    rgba(5, 106, 183, 0.6) 100%,
    rgba(10, 123, 208, 0.2) 100%
  );
}
.nav-img {
  height: 7vh;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.ttd {
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  color: #fff;
}

.carousel-item {
  width: 100%;
  height: 300px;
}
.carousel-item .img-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 30%;
}

.nav-item {
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.1);
}

.navbar-brand {
  width: 230px;
}
.navbar-brand p {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar-brand p#displayTime {
  font-size: 2vw;
}
.navbar-brand p#displayDate {
  font-size: 1vw;
}

.vh {
  min-height: 70vh;
  margin-top: 7vh;
  display: flex;
}

nav .navbar-expand-lg {
  height: 20vh;
}

.shadow-success {
  box-shadow: 0px 0px 10px 2px rgba(26, 252, 35, 0.6);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(26, 252, 35, 0.6);
  -moz-box-shadow: 0px 0px 10px 2px rgba(26, 252, 35, 0.6);
}

footer h6 {
  text-shadow: 2px 2px 5px rgba(26, 252, 35, 0.6);
}
.text-xs-center {
  text-align: center;
  line-height: 2.5vh;
  font-size: 2vh;
}

.text-xs-start {
  font-size: 2.5vh;
}

.shadow-grey {
  box-shadow: 0px 5px 10px 1px rgba(166, 166, 166, 0.75);
  -webkit-box-shadow: 0px 5px 10px 1px rgba(166, 166, 166, 0.75);
  -moz-box-shadow: 0px 5px 10px 1px rgba(166, 166, 166, 0.75);
}
